<h1>{{title}}</h1>
<ul>
  <fieldset>
    <legend>Suas Tarefas</legend>


    <p *ngIf="todos.length==0"><small>Não tem nenhuma tarafe hoje!</small></p>
    <p *ngIf="todos.length==0"><small>Não tem nenhuma tarafe hoje!</small></p>

    <li *ngFor="let todo of todos">{{todo.title}}
      -

      <button (click)="markAsDone(todo)" *ngIf="!todo.done">CONCLUIR </button><span> </span><button
        (click)="markAsUndone(todo)" *ngIf="todo.done">REFAZER </button>
      <button (click)="remove(todo)"> - REMOVER</button>
    </li>

  </fieldset>
</ul>

<form [formGroup]="form">
  <fieldset>
    <legend>Adicionar Tarefa</legend>


    <input type="text" placeholder="" maxlength="60" formControlName="title"
      style="border: 1px solid gray; border-radius: 50px;"><br><br>
    <small *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine">Este campo deve conter entre 3 e
      60 caracteres</small><br>
    <button (click)="add()" [disabled]="form.invalid">Salvar</button>

  </fieldset>
  <div class=" form"></div>
</form>